// Selects any heading level.
@mixin heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

// Overrides the default focus box shadow with an inset version, for elements
// where the shadow would otherwise be clipped.
@mixin inset-focus {
  box-shadow: $box-shadow-focus inset;
}
