.member-details-card {
  margin: 2rem 0;
  box-shadow: 0px 5px 20px -10px $brand-dark-shadow;

  dd:not(:last-child) {
    border-bottom: 1px solid $brand-dark-shadow;
    padding-bottom: 1rem;
  }

  ul,
  dl {
    margin-bottom: 0;
  }
}

.verify-email-screen,
.verify-failed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify-failed {
  text-align: center;

  .failed-icon {
    font-size: 6rem;
  }

  .failed-text {
    font-size: 2rem;
    line-height: 1.15;
    margin: 2rem 0;
  }

  .failed-guidance {
    font-size: 1.4rem;
    line-height: 1.15;
  }
}
